.card{

    width:180px;

    flex-shrink:0;

}

.card img{

    width:100%;

    border-radius:12px;

    display:block;

}

.card-info{

    margin-top:8px;

}

.card-info h3{

    font-size:15px;

    margin-bottom:4px;

}

.card-info span{

    display:block;

    font-size:13px;

    color:#AAA;

}
.status-menu{

    position:relative;

}

.status-options{

    display:none;

    position:absolute;

    left:0;

    top:100%;

    width:100%;

    background:#222;

    border-radius:10px;

    overflow:hidden;

    z-index:100;

}

.status-options button{

    width:100%;

    border:none;

    background:none;

    color:white;

    padding:10px;

    cursor:pointer;

    text-align:left;

}

.status-options button:hover{

    background:#333;

}

.status-menu.open .status-options{

    display:block;

}
