.movie-card{

    width:180px;

    background:var(--surface);

    border-radius:18px;

    overflow:hidden;

    transition:.3s;

    cursor:pointer;

}

.movie-card:hover{

    transform:translateY(-6px);

    background:var(--surface-hover);

}

.movie-card img{

    width:100%;

    aspect-ratio:2/3;

    object-fit:cover;

}

.movie-info{

    padding:15px;

}

.movie-info h3{

    font-size:16px;

    margin-bottom:8px;

}

.movie-info p{

    font-size:14px;

    margin-bottom:8px;

}

.movie-info span{

    color:gold;

    font-weight:600;

}