.carousel-section{

    margin:50px 0;

}

.section-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.carousel{

    display:flex;

    gap:20px;

    overflow-x:auto;

    scroll-behavior:smooth;

    padding-bottom:10px;

}

.carousel::-webkit-scrollbar{

    height:8px;

}

.carousel::-webkit-scrollbar-thumb{

    background:var(--surface-hover);

    border-radius:20px;

}