.hero{

    margin-top:30px;

}

.hero-banner{

    height:420px;

    border-radius:24px;

    background:

        linear-gradient(

            rgba(0,0,0,.25),

            rgba(0,0,0,.8)

        ),

        url("https://image.tmdb.org/t/p/original/6WxhEvFsauuACfv8HyoVX6mZKFj.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:flex-end;

    padding:45px;

}

.hero-info{

    max-width:500px;

}

.badge{

    display:inline-block;

    background:var(--primary);

    padding:8px 14px;

    border-radius:999px;

    margin-bottom:18px;

}

.hero-buttons{

    margin-top:30px;

    display:flex;

    gap:15px;

}